In [1]:
#Importação da bliblioteca
import pandas as pd

In [10]:
df = pd.read_csv("/content/drive/MyDrive/datasets/Gapminder.csv", error_bad_lines=False, sep=";")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
#Visualizando as 5 priieiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [13]:
df = df.rename(columns={"country": "pais", "continent":"continente", "year":"ano"})

In [14]:
df.head(10)

          pais continente   ano  lifeExp       pop   gdpPercap
0  Afghanistan       Asia  1952   28.801   8425333  779.445314
1  Afghanistan       Asia  1957   30.332   9240934  820.853030
2  Afghanistan       Asia  1962   31.997  10267083  853.100710
3  Afghanistan       Asia  1967   34.020  11537966  836.197138
4  Afghanistan       Asia  1972   36.088  13079460  739.981106
5  Afghanistan       Asia  1977   38.438  14880372  786.113360
6  Afghanistan       Asia  1982   39.854  12881816  978.011439
7  Afghanistan       Asia  1987   40.822  13867957  852.395945
8  Afghanistan       Asia  1992   41.674  16317921  649.341395
9  Afghanistan       Asia  1997   41.763  22227415  635.341351

In [15]:
df.shape

(3312, 6)

In [20]:
df.columns

Index(['pais', 'continente', 'ano', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [23]:
df.dtypes

pais           object
continente     object
ano             int64
lifeExp       float64
pop             int64
gdpPercap     float64
dtype: object

In [25]:
df.tail()

          pais continente   ano  lifeExp       pop   gdpPercap
3307  Zimbabwe     Africa  1987   62.351   9216418  706.157306
3308  Zimbabwe     Africa  1992   60.377  10704340  693.420786
3309  Zimbabwe     Africa  1997   46.809  11404948  792.449960
3310  Zimbabwe     Africa  2002   39.989  11926563  672.038623
3311  Zimbabwe     Africa  2007   43.487  12311143  469.709298

In [28]:
df.describe()

               ano      lifeExp           pop      gdpPercap
count  3312.000000  3312.000000  3.312000e+03    3312.000000
mean   1980.301630    65.246871  3.161489e+07   11317.115805
std      16.927294    11.768412  1.041193e+08   11369.142739
min    1950.000000    23.599000  5.941200e+04     241.165876
25%    1967.000000    58.337500  2.678572e+06    2514.625266
50%    1982.000000    69.610000  7.557218e+06    7838.505123
75%    1996.000000    73.657750  1.958522e+07   17357.879170
max    2007.000000    82.670000  1.318683e+09  113523.132900

In [30]:
df["continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [32]:
oceania = df.loc[df["continente"] == "Oceania"]
oceania.head()

     pais continente   ano  lifeExp     pop    gdpPercap
975  Fiji    Oceania  1962   56.494  421869  2039.393277
976  Fiji    Oceania  1967   58.607  485000  2170.073285
977  Fiji    Oceania  1972   60.642  544000  2797.759484
978  Fiji    Oceania  1977   62.669  599339  3182.569600
979  Fiji    Oceania  1982   64.683  658906  3209.257468

In [35]:
df.groupby("continente")["pais"].nunique()

continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: pais, dtype: int64

In [36]:
df.groupby("ano")["lifeExp"].min()

ano
1950    40.00000
1951    55.10000
1952    28.80100
1953    44.55952
1954    46.46560
1955    48.02216
1956    50.44528
1957    30.33200
1958    50.15840
1959    38.40448
1960    31.63176
1961    34.10448
1962    31.99700
1963    51.89912
1964    53.32072
1965    55.64680
1966    56.80320
1967    34.02000
1968    59.40520
1969    60.96520
1970    62.65080
1971    63.73736
1972    35.40000
1973    62.78080
1974    62.49960
1975    62.69888
1976    62.43736
1977    31.22000
1978    64.24432
1979    65.08536
1980    66.12216
1981    66.44976
1982    38.44500
1983    68.95000
1984    68.99000
1985    68.93000
1986    69.13000
1987    39.90600
1988    69.96000
1989    69.41000
1990    69.36000
1991    69.11000
1992    23.59900
1993    65.24000
1994    63.93000
1995    64.62000
1996    65.89000
1997    36.08700
1998    67.13000
1999    65.99000
2000    65.37000
2001    65.29000
2002    39.19300
2003    64.92000
2004    65.30000
2005    65.33000
2006    66.62000
2007    39.61300
Name: lifeExp, dtype: float64